<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    {% block title %}
    <title>Ben & Jerry's</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/pas.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% endblock %}

<body>
<div class="container-fluid">
    <div class="content" >
        <div class="hidden-xs">
            <h2><a href="/">Ben & Jerry's App Management</a></h2>
            <ul class="nav nav-pills navbar-list">
                <li><a href="/">Home</a></li>
                <li><a href="/newflavor.html">New Flavor</a></li>
                <li><a href="/removeflavor.html">Remove Flavor</a></li>
            </ul><br>
            <h4 style="color: #000;">host: http://{{hostname}}:5000</h4>
        </div>
{% block content %}
{% endblock %}
    </div>
</div>
</body>

<footer>
{% block footer %}
    <div class="panel panel-default">
        <div class="panel-body">
            Maintained by:<br>John Cunniff<br>johncunniff1248@gmail.com<br>+1 (914) 602-9446<br>
        </div>
    </div>
{% endblock %}
</footer>

<script>
$(document).ready(function() {
	// get current URL path and assign 'active' class
	var pathname = window.location.pathname;
	$('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>
</html>
